<footer class="navbar navbar-light bg-light borer-top">
    <div class="container-fluid text-center my-auto">
        <div class="col-sm-12 d-inline-block">
                2020 Copyright © <a href="https://caramella.kr">카라멜라 caramella.kr</a>
        </div>
    </div>
</footer>
