<nav class="navbar fixed-top navbar-light bg-light border-bottom">
    <button type="button" id="sidebarToggledBtn" class="btn btn-link d-md-none"><i class="fa fa-bars"></i></button>
    <h1 class="navbar-brand font-weight-bold my-0">코로나, 기부해요</h1>
</nav>