<ul class="navbar-nav bg-primary sidebar pt-3 px-2">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 3</a>
        </li>
        <hr class="divider">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 3</a>
        </li>
        <hr class="divider">
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Link 2</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">3</a>
            </div>
        </li>
    </ul>