@import 'font-awesome';
@import 'bootstrap';

html, body {
    font-size: 14px;
}

body {
    font-size: 1rem;
    margin: 0;
    font-family: 'Nanum Gothic';
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}